.NavBar {
    box-shadow: 5px 0 10px -5px #000000;
}

.NavBar{
    min-height: 100vh;
    height: auto !important;
}

.mainCont {
    display: flex;
}

.NavItem:hover {
    transform: scale(1.06);
    color: darkgreen;
    transition: 300ms;
}

main {
    display: inline-block;
    margin: 20px;
    padding-left: 15%;
}

.Homelanding {
    font-size: 5vh;
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

.HomeDesc{
    font-size: 16px;
    padding: 30px;
}

.Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 400px;
}

.SignupButton:hover {
    transform: scale(1.06);
    color: darkgreen;
    transition: 300ms;
}

.LoginButton:hover {
    transform: scale(1.06);
    color: rgb(147, 231, 147);
    transition: 300ms;
}

.HomeBtns{
    display: flex;
    justify-content: center;
}

.wildlife-styles {
    display: inline-block;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.vis-amn-styles {
    display: inline-block;
    align-items: center;
    max-width:auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

  