.NavBar {
    box-shadow: 1px 0 20px -5px #000000
}

.NavBar{
    /* float: left; */
    height: auto;
}

.mainCont {
    display: inline-flex;
}

.NavItem:hover {
    transform: scale(1.06);
    color: darkgreen;
    transition: 300ms;
}

main {
    /* display: inline-block; */
    margin: 20px;
    padding-left: 15%;
}

.Homelanding {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    display: block;
    flex-direction: column;
}

.HomeDesc{
    font-size: 16px;
    padding: 30px;
    display: block;
}

.Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 400px;
    flex-direction: column;
}

.SignupButton:hover {
    transform: scale(1.06);
    color: darkgreen;
    transition: 300ms;
}

.LoginButton:hover {
    transform: scale(1.06);
    color: rgb(147, 231, 147);
    transition: 300ms;
}

.HomeBtns{
    justify-content: center;
    display: flex;
}

.HomeBd{
    flex-direction: column;
    height: 100vh;
}