.NavBar {
    box-shadow: 1px 0 20px -5px #000000
}

.NavBar{
    /* float: left; */
}

.mainCont {
    display: flex;
}

.NavItem:hover {
    transform: scale(1.06);
    color: darkgreen;
    transition: 300ms;
}

main {
    display: inline-block;
    margin: 20px;
    padding-left: 15%;
}