@font-face {
    font-family: RnB;
    src: url('./assets/RusticAndBeautiful.otf') format("opentype");
}

@font-face {
    font-family: NordinSlab;
    src: url('./assets/NordinSlab.otf') format("opentype");
}

:root {
    --darkGreen: #1b430b;
    --Green: #265d10;
    --l1: #8A723D;
    --lTan: rgb(138, 114, 61);
    --Dtan: rgba(91, 73, 35, 1);
    --vLtan: rgb(195, 164, 96);
}

* {
    padding: 0%;
    margin: 0%;
}

#root {
    min-height: 100vh;
}

.cusTanBkg {
    background: rgb(91, 73, 35);
    background: linear-gradient(90deg, rgba(91, 73, 35, 1) 0%, rgba(138, 114, 61, 1) 50%, rgba(91, 73, 35, 1) 100%);
}

.w100 {
    width: 100%;
}

/* main backgoun image stuff */
.bkgImg {
    width: 100%;
    /* height: 100vh; */
    background-position: center;
    background-size: cover;
    background-image: url(./assets/Mountains.jpg);
}

.imgOverlay {
    width: 100%;
    /* height: 100vh; */
    background-color: rgba(234, 193, 71, 0.5);
}

/* Header */
.headR {
    background-color: var(--darkGreen);
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.664);
}

.headTitle {
    font-size: 3.5rem;
    font-family: RnB, Arial, Helvetica, sans-serif;
    margin-left: 1.5rem;
}


/* Footer styles */
.footer {
    background-color: var(--darkGreen);
    color: white;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.footer-list li {
    margin-right: 20px;
    cursor: pointer;
}

.footer-list li:hover {
    text-decoration: underline;
}

.footer-list li:last-child {
    margin-right: 0;
}

.footer-text {
    text-align: center;
    font-weight: bold;

}

/* trails Accordian styling */
.accCont {
    margin: 3rem;
    margin-top: 1rem;
    max-width: auto !important;
    margin-inline: 0px !important;
    max-width: none !important;
}

.accItem {
    border: 1px solid #00000000 !important;
    border-left: 0;
    border-right: 0;
    margin: 3rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

.accBtn {
    background: rgb(138, 114, 61);
    background: radial-gradient(circle, rgba(138, 114, 61, 1) 0%, rgba(91, 73, 35, 1) 100%);
    color: white;
    border: none;
}

.accItem:hover {
    background-color: rgba(91, 73, 35, 1);
}

.accPanel {
    background-color: rgb(138, 114, 61);
    background-color: rgb(170, 141, 79);

}

/* .accPanel p */
.accPanBtn {
    margin-bottom: 1rem;
    color: rgb(63, 50, 22);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 5px;
    font-size: smaller;
    font-style: italic;
    font-weight: 600;
}

.accPanBtn:hover {
    background-color: rgba(91, 73, 35, 1);
    color: white;

}

.btnDiv {
    display: flex;
    justify-content: end;
}

/* Single object */
.sTitle {
    /* background-color: var(--darkGreen); */
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sBod {
    /* background-color: var(--l1); */
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.sCon {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0%;
    background: radial-gradient(circle, rgba(138, 114, 61, 1) 0%, rgba(91, 73, 35, 1) 100%);
    border-radius: 10px;
}

/* trail comment section */
.commSect {
    text-align: start;    
    background-color: var(--vLtan);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.commTitle {
    font-size: 2rem;
    color: var(--vLtan);
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px solid var(--vLtan);
    margin-top: 1rem;
    text-align: start;    
}

/* .comment {
    
} */

.TcommUser {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
}

.TcommText {
    margin-left: 1rem;
}

.likeSect {
    display: flex;
    /* justify-content: end; */
}

.likeSect:hover button {
    background-color: var(--Dtan);
    color: white;
}

.likeSect button {
    padding-left:  0.3rem;
    padding-right: 0.3rem;
    padding-top: 0rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-top: 0.5rem;
}


/* error container */
.errCont {
    text-align: center;
    padding: 1rem;
    padding-bottom: 0%;
    background: radial-gradient(circle, rgba(138, 114, 61, 1) 0%, rgba(91, 73, 35, 1) 100%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.errTitle {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: white;
    font-family: RnB, Arial, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
}

.errCont img {
    border-radius: 10px;
}

.errMsg {
    font-size: 3rem;
    /* padding-bottom : 1rem; */
    color: white;
    font-family: RnB, Arial, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
}